@charset "UTF-8";
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-size: 100%; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  outline: none; }

input, select, button, textarea {
  margin: 0;
  font-size: 100%;
  outline: none; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

/* --------------- /reset.css --------------- */
/* --------------- базовые настройки ---------*/
html {
  min-height: 100%; }

body {
  font-size: 15px;
  max-width: 1280px;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative; }

a, a:visited {
  text-decoration: none; }

a:hover {
  color: #ef1e24;
  text-decoration: none; }

a:focus, a:active {
  color: #66aec4;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

img {
  max-width: 100%; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

/* --------------- /базовые настройки ---------*/
/* --------------- flexbox---------*/
.flex-start {
  padding: 0;
  margin: 0;
  list-style: none;
  -js-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }

.flex-between {
  padding: 0;
  margin: 0;
  list-style: none;
  -js-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

.flex-end {
  padding: 0;
  margin: 0;
  list-style: none;
  -js-display: flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center; }

/* --------------- flexbox---------*/
.name {
  text-align: center;
  color: #66aec4;
  font-size: 40px;
  font-weight: bold;
  margin: 30px 0; }

.main {
  margin: 0 auto;
  width: 720px;
  height: 600px;
  border: 1px solid #66aec4;
  border-radius: 30px; }

.buttons {
  text-align: center;
  margin: 20px 0; }

.buttons-more, .buttons-new-game {
  width: 170px;
  border: none;
  border-radius: 20px;
  background-color: #66aec4;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
  margin-right: 30px;
  cursor: pointer;
  transition: all .5s; }
  .buttons-more:hover, .buttons-new-game:hover {
    background-color: #5a97ad; }

.buttons-find {
  width: 170px;
  border: 2px solid #c5cccf;
  border-radius: 20px;
  background-color: transparent;
  color: #c5cccf;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0;
  margin-right: 30px;
  cursor: pointer;
  transition: all .5s; }
  .buttons-find:hover {
    border: 2px solid #5a97ad;
    color: #5a97ad; }

.buttons-new-game {
  margin-right: 0; }

.main-12 {
  width: 80%; }

.main-add-3 {
  width: 20%; }

.card {
  margin: 20px;
  position: relative;
  cursor: pointer; }

.card-img {
  width: 100px;
  height: 160px;
  user-select: none; }

.card-hover::after {
  content: '';
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100px;
  height: 160px;
  background: rgba(197, 204, 207, 0.3);
  cursor: pointer; }

.modals {
  margin: 0 auto;
  width: 720px;
  padding: 15px 0;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  color: #5a97ad; }

.modal-false {
  background-color: #FFBABA;
  display: none; }

.modal-true {
  background-color: #DFF2BF;
  display: none; }

.info {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 200px;
  padding: 20px;
  border: 1px solid #66aec4;
  border-radius: 30px; }
  .info p {
    margin-bottom: 10px; }
    .info p:last-child {
      margin-bottom: 0; }
